body
{
  /*background-color:#1FC2AD;*/
}

h1{
  font-family:'Courgette', sans-serif;

}

p{
  font-family: 'Raleway', sans-serif;
}

footer{

      background-color: black;
      color: gray;
      padding: 15px;

}

#myNavbar{
  font-family:'Raleway', sans-serif;
}
.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

img{
  width:30em;
}

.well{
padding-right:25px;
display: inline-block;
}
.col-sm-3.well{
  display:inline-block;
  margin-right:40px;
}
 #editForm{
  /*border:5px solid black;*/
  margin-top:10px;
  width:400px;
  margin-left:350px;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.header {
    display: table;
    /*position: relative;*/
    width: 100%;
    height: 100%;
    background: url(bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:60em;
}

.profile{
  padding-left:35.5%;
}

.profile p {
  text-align:center;
}

#logIn{
  font-family:'Raleway', sans-serif;
  text-align:center;
  font-size:20px;
  color:black;
  font-weight:bold;
  padding-top:300px;
  /*border: 1px dotted red;
  height: 100px;*/
}

#logIn h1{
  font-size:50px;
  font-family:'Monoton', cursive;
  color: white;
  background-color: black;
}

#logIn label{
  font-size:25px;
  font-weight: bold;
  font-family:'Raleway', cursive;
  color: white;
}

#logIn form {
  height: 220px;
  width: 600px;
  background-color: black;
  margin-left: 650px;
}

.logForm {
  height:60em;
  background:no-repeat center center scroll;
  width: 100%;
  background-size: cover;
  /*opacity:0.6;*/
  /*height:100%;*/
}

.logForm a {
  margin-left: 1800px;
  font-size: 25px;
  color: white;
}

/*.dashboarfBox {
  height: 100px;
  border: 1px dotted red;
}*/


/*#top {
  width: 100%;
  height: 300%;
}*/
