
<div class="logForm" style="background-image: url('{{randImg}}')">
  <a href="#/register">Register</a>
  <div class="dashboarfBox">
    <div id="logIn">
      <h1>DASHBOARF</h1>
      <form ng-submit="login(loginUser)">
          <label>Login</label><br>
          <label>Username <input type="text" ng-model="loginUser.username"></label><br>
          <label>Password <input type="text" ng-model="loginUser.password"></label><br>
          <button>Submit</button>
      </form>
    </div>
  </div>
</div>
