<style media="screen">
  div{
    border-bottom:1px solid black;
    /*margin-bottom:10px; */
  }
</style>



<h1>hello</h1>


<p>
{{topic.data._user.username}} posted a topic:
</p>
<p>
 {{topic.data.title}}
</p>
<p>
  description:{{topic.data.description}}
</p>

<div>
<label>Post you answer: </label>
  <form>
    <textarea rows="8" cols="40" ng-model= "user.content"></textarea><br>
    <input type="hidden" value="{{topic.data._id}}" ng-model="user._id">
    <input type="submit" value="Post" ng-click="addPost(user)">
  </form>
</div>
